/bin/
/target/
.classpath
.project
.settings/
data-platform/.idea/*
data-platform/Test.iml
service/service.iml
web-api/WebApi.iml
com.opendmp.iml
*.iml

front-end/app/js/bin/template/templates.js
front-end/app/css

front-end/node_modules/
front-end/npm-debug.log
front-end/static
front-end/appDetail/css
front-end/.idea/

.idea/*
analytics/.idea/
target/*
TravelyftDMP.iml
Backend/Backend.iml
dcs/Dcs.iml


.DS_Store
analytics/src/main/java/
cross-chennel/CrossChennel.iml
fraud-detection/
data-platform/target/
