//text-properties
$text-xs: 10px;
$text-sm: 12px;
$text-md: 15px;
$text-mdx:18px;
$text-lg: 20px;
$text-xl: 25px;
$text-xxl: 30px;
$text-xxxl: 35px;
$text-logo: 25px;

//Color-properties
$primary-color: #9BE222;
$secondary-color: #009EFF;

//Media-screen-sizes
$xs-screen: 300px !default;
$sm-screen:499px !default;
$sm-md-screen: 500px !default;
$md-screen: 767px !default;
$md-l-screen: 768px !default;
$l-screen: 959px !default;
$l-xl-screen: 1024px !default;